@model AutomationTracker.Models.AssetModel
@{
    ViewBag.Title = "ManageComputers";
    ViewBag.Menu = "ViewComputers";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

@using (Html.BeginForm("SaveComputers", "Asset"))
{
    @Html.AntiForgeryToken()

    <div style="float:left; width:100%; height:auto; padding-top:10px; padding-bottom:60px;">
        <section class="common_section">
            <div class="container">

                @Html.HiddenFor(m=> Model.computers.AUOTID)

                @Html.HiddenFor(m => Model.computers.Company)


                <div class="row">
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="dropUnitType" class="labelcls">Unit Type: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section class="col col-6">
                                <span id="spryUnitType">
                                    @if (Model.computers.AUOTID > 0)
                                    {
                                        @Html.DropDownListFor(m => Model.computers.UnitType, new SelectList(Model.assetList.unittypeList, "UnitTypeID", "UnitTypeName"), "- Please Select Unit type -", new
                                   {
                                       @name = "dropUnitType",
                                       @class = "form-control",
                                       @disabled = "disabled",
                                       @id = "dropUnitType"
                                   })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => Model.computers.UnitType, new SelectList(Model.assetList.unittypeList, "UnitTypeID", "UnitTypeName"), "- Please Select Unit type -", new
                                   {
                                       @name = "dropUnitType",
                                       @class = "form-control",
                                       @id = "dropUnitType"
                                   })
                                    }
                                    <span class="selectRequiredMsg">Please select an item.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="dropModelType" class="labelcls">Model Type: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section class="col col-6">
                                <span id="spryModel">
                                    @if (Model.computers.AUOTID > 0)
                                    {
                                        @Html.DropDownListFor(m => Model.computers.ModelType, new SelectList(Model.assetList.modelList, "ModelID", "ModelName"), "- Please Select Model type -", new
                                   {
                                       @name = "dropModel",
                                       @class = "form-control",
                                       @disabled = "disabled",
                                       @id = "dropModel"
                                   })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(m => Model.computers.ModelType, new SelectList(Model.assetList.modelList, "ModelID", "ModelName"), "- Please Select Model type -", new
                                   {
                                       @name = "dropModel",
                                       @class = "form-control",
                                       @id = "dropModel"
                                   })
                                    }
                                    <span class="selectRequiredMsg">Please select an item.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="txtAssestNo" class="labelcls">Assest No: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section>
                                <span id="spryAssestNo">
                                    @Html.TextBoxFor(m => Model.computers.AssestNo, new
                               {
                                   @name = "txtAssestNo",
                                   @placeholder = "Assest No", @*@disabled = hiddenstyle,*@ @class = "form-control",
                                   @id = "txtAssestNo"
                               })
                                    <span class="textfieldRequiredMsg">A value is required.</span>
                                </span>
                            </section>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="txtSerialNo" class="labelcls">Serial No: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section>
                                <span id="sprySerialNo">
                                    @Html.TextBoxFor(m => Model.computers.SerialNo, new
                               {
                                   @name = "txtSerialNo",
                                   @placeholder = "Serial No", @*@disabled = hiddenstyle,*@ @class = "form-control",
                                   @id = "txtSerialNo"
                               })
                                    <span class="textfieldRequiredMsg">A value is required.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="txtRAM" class="labelcls">RAM: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section>
                                <span id="spryRam">
                                    @Html.TextBoxFor(m => Model.computers.RAM, new { @name = "txtRAM", @placeholder = "RAM Capacity", @class = "form-control", @id = "txtRAM" })
                                    <span class="textfieldRequiredMsg">A value is required.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="txtHDDCapacity" class="labelcls">Hard Disk Capacity: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section>
                                <span id="spryHDD">
                                    @Html.TextBoxFor(m => Model.computers.HDDCapacity, new { @name = "txtHDDCapacity", @placeholder = "Hard Disk Capacity", @class = "form-control", @id = "txtHDDCapacity" })
                                    <span class="textfieldRequiredMsg">A value is required.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="drpOS" class="labelcls">OS Version: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section class="col col-6">
                                <span id="spryOS">
                                    @Html.DropDownListFor(m => Model.computers.OS, new SelectList(Model.assetList.softwareList.Where(w => w.SoftwareType == "OS"), "SoftwareID", "SoftwareName"), "- Please Select Model type -", new { @name = "drpOS", @class = "form-control", @id = "drpOS" })
                                    <span class="selectRequiredMsg">Please select an item.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="drpOffice" class="labelcls">Office Version: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section class="col col-6">
                                <span id="spryOffice">
                                    @Html.DropDownListFor(m => Model.computers.OfficeVersion, new SelectList(Model.assetList.softwareList.Where(w => w.SoftwareType == "Office"), "SoftwareID", "SoftwareName"), "- Please Select Model type -", new { @name = "drpOffice", @class = "form-control", @id = "drpOffice" })
                                    <span class="selectRequiredMsg">Please select an item.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="dropCompany" class="labelcls">Company: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section class="col col-6">
                                <span id="spryCompany">
                                    @Html.DropDownListFor(m => Model.computers.Company1.CompanyID, new SelectList(Model.assetList.companyList, "CompanyID", "CompanyName"), "- Please Select Company -", new
                               {
                                   @name = "dropCompany", @class = "form-control",
                                   @id = "dropCompany"
                               })
                                    <span class="selectRequiredMsg">Please select an item.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="datetimepicker1" class="labelcls">Purchase Date: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section>
                                <span id="spryPurchaseDate">
                                    @Html.TextBoxFor(m => Model.computers.PurchaseDate, new
                               {
                                   @name = "datetimepicker1",
                                   @placeholder = "Purchase Date", @class = "form-control",
                                   @id = "datetimepicker1"
                               })
                                    <span class="textfieldRequiredMsg">A value is required.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="datetimepicker2" class="labelcls">Dispose Date: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            <section>
                                <span id="spryDisposeDate">
                                    @Html.TextBoxFor(m => Model.computers.DisposeDate, new
                               {
                                   @name = "datetimepicker2",
                                   @placeholder = "Dispose Date", @class = "form-control",
                                   @id = "datetimepicker2"
                               })
                                    <span class="textfieldRequiredMsg">A value is required.</span>
                                </span>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='input-container'>
                            <label for="datetimepicker3" class="labelcls">Warrenty Expire Date: </label>
                            <div class="icon-ph"><i class="icon-envelope"></i></div>
                            @Html.TextBoxFor(m => Model.computers.WarrantyExpireDate, new
                       {
                           @name = "datetimepicker3",
                           @placeholder = "Warrenty Expire Date", @class = "form-control",
                           @id = "datetimepicker3"
                       })
                        </div>
                    </div>
                </div>
                
                <div class='input-container'>
                    <label for="txtRemarks" class="labelcls">Remarks: </label>
                    <div class="icon-ph"><i class="icon-envelope"></i></div>
                    @Html.TextAreaFor(m => Model.computers.Remarks, new { @name = "txtRemarks", @placeholder = "Remarks", @class = "form-control", @id = "txtRemarks" })
                </div>


                <div class='input-container'>
                    <label for="chactive" class="labelcls">Active: </label>
                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            @if (Model.computers.AUOTID == 0)
                            {
                                @Html.CheckBoxFor(m => Model.computers.IsActive, new { @name = "checkbox", @disabled = "disabled", @onclick = "ShowHideDiv(this)", @checked = "checked", @id = "checkbox3" })
                            }
                            else
                            {
                                @Html.CheckBoxFor(m => Model.computers.IsActive, new { @name = "checkbox", @onclick = "ShowHideDiv(this)", @checked = "checked", @id = "checkbox3" })
                            }                            
                            <label for="checkbox3">Active</label>
                        </div>
                    </div>
                </div>


                <div class='input-container' id="divDisposeRemark" style="display: none">
                    <label for="txtDisposeRemarks" class="labelcls">Dispose Remarks: </label>
                    <div class="icon-ph"><i class="icon-envelope"></i></div>
                    @Html.TextAreaFor(m => Model.computers.DisposeRemark, new { @name = "txtDisposeRemarks", @placeholder = "Dispose Remarks", @class = "form-control", @id = "txtDisposeRemarks" })
                </div>



                    <div style="margin-top:10px;">
                        <button type="submit" class="btn btn-primary">Submit</button>

                        <input type="button" style="margin-left:10px" class="btn btn-primary" value="Back" onclick="location.href='@Url.Action("ViewComputers", "Asset")'" />
                    </div>

                </div>
        </section>
    </div>
                        }

@section scriptLocation{

<script src="~/js/Assest/ManageComputers.js"></script>
<script src="~/build/jquery.datetimepicker.full.js"></script>
<script src="~/js/custom.js"></script>

}




