@model AutomationTracker.Models.AssetModel
@{
    ViewBag.Title = "ManageComputers";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

@using (Html.BeginForm("SaveComputers", "Asset"))
{
    <section class="common_section">
        <div class="container">

            <div class='input-container'>
                <label for="dropUnitType" class="labelcls">Unit Type: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.DropDownListFor(m => Model.assetList.unittypeList, new SelectList(Model.assetList.unittypeList, "UnitTypeID", "UnitTypeName"), "- Please Select Unit type -", new { @name = "dropUnitType", @class = "form-control", @id = "dropUnitType" })
            </div>

            <div class='input-container'>
                <label for="dropModelType" class="labelcls">Model Type: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.DropDownListFor(m => Model.Modeltype, new SelectList(Model.assetList.modelList, "ModelID", "ModelName"), "- Please Select Model type -", new { @name = "dropModel", @class = "form-control", @id = "dropModel" })
            </div>

            <div class='input-container'>
                <label for="txtAssestNo" class="labelcls">Assest No: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.computers.AssestNo, new { @name = "txtAssestNo", @placeholder = "Assest No", @class = "form-control", @id = "txtAssestNo" })
            </div>

            <div class='input-container'>
                <label for="txtSerialNo" class="labelcls">Serial No: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.computers.SerialNo, new { @name = "txtSerialNo", @placeholder = "Serial No", @class = "form-control", @id = "txtSerialNo" })
            </div>

            <div class='input-container'>
                <label for="txtRAM" class="labelcls">RAM: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.computers.RAM, new { @name = "txtRAM", @placeholder = "RAM Capacity", @class = "form-control", @id = "txtRAM" })
            </div>

            <div class='input-container'>
                <label for="txtHDDCapacity" class="labelcls">Hard Disk Capacity: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.computers.HDDCapacity, new { @name = "txtHDDCapacity", @placeholder = "Hard Disk Capacity", @class = "form-control", @id = "txtHDDCapacity" })
            </div>

            <div class='input-container'>
                <label for="drpOS" class="labelcls">OS Version: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.DropDownListFor(m => Model.computers.OS, new SelectList(Model.assetList.softwareList.Where(w=>w.SoftwareType == "OS"), "SoftwareID", "SoftwareName"), "- Please Select Model type -", new { @name = "drpOS", @class = "form-control", @id = "drpOS" })
            </div>

            @*<div class='input-container'>
                <label for="drpOffice" class="labelcls">Office Version: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.DropDownListFor(m => Model.computers.OfficeVersion, new SelectList(Model.assetList.softwareList.Where(w => w.SoftwareType == "Office"), "SoftwareID", "SoftwareName"), "- Please Select Model type -", new { @name = "drpOffice", @class = "form-control", @id = "drpOffice" })
            </div>*@

            <div class='input-container'>
                <label for="txtRemarks" class="labelcls">Remarks: </label>
                <div class="icon-ph"><i class="icon-envelope"></i></div>
                @Html.TextBoxFor(m => Model.computers.Remarks, new { @name = "txtRemarks", @placeholder = "Remarks", @class = "form-control", @id = "txtRemarks" })
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </section>
}

@section scriptLocation{
<script>
    $(function () {
        $("#dropUnitType").change(function () {
            debugger;
            var unitID = $('#dropUnitType').val();
            if (unitID == 1 || unitID == 2)
            {
                $.ajax({
                    type: 'GET',
                    url: "http://localhost:15707/Asset/GetModels?UnitTypeID=" + unitID,
                    data: JSON.stringify({ "UnitTypeID": 1 }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var r = result;
                        if (result != null) {
                            var dropModel = $("[id*=dropModel]");
                            dropModel.empty().append('<option selected="selected" value="0">Please select</option>');

                            $.each(result, function () {
                                dropModel.append($("<option></option>").val(this['id']).html(this['name']));
                            });

                        } else {
                            alert("fail");
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:15707/Asset/GetSoftwares",
                    data: JSON.stringify({ "UnitTypeID": 1 }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var r = result;
                        if (result != null) {
                            var drpOS = $("[id*=drpOS]");
                            var drpOffice = $("[id*=drpOffice]");
                            drpOS.empty().append('<option selected="selected" value="0">Please select OS Version</option>');
                            drpOffice.empty().append('<option selected="selected" value="0">Please select Office Version</option>');

                            $.each(result, function () {
                                if (this['softwaretype'] == "OS") {
                                    drpOS.append($("<option></option>").val(this['id']).html(this['name']));
                                }
                                if (this['softwaretype'] == "Office") {
                                    drpOffice.append($("<option></option>").val(this['id']).html(this['name']));
                                }
                            });
                        } else {
                            alert("fail");
                        }
                    }
                });
            }
            else if(unitID==3)
            {

            }
        });
    });

    </script>
}




