@model AutomationTracker.Models.AssetList
@{
    ViewBag.Title = "ViewMobilePhones";
    ViewBag.Menu = "ViewMobilePhones";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}


<section class="common_section">
    <div class="container">

        <div class="container" style="padding-bottom:20px;">
            <input type="button" style="float:right;" class="btn btn-primary" value="Add Mobile Devices" onclick="location.href='@Url.Action("ManageMobilePhones", "Asset", new { id = 0 })'" />
        </div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Unit ID</th>
                    <th>Unit Type Name</th>
                    <th>Model Name</th>
                    <th>Asset Number</th>
                    <th>Serial number</th>
                    <th>Connection No</th>
                    <th>EMEI No 1</th>
                    <th>EMEI No 2</th>
                    <th>Provider</th>
                    <th>Company</th>
                    <th>Current User</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.phonesanddongleList)
                {
                    <tr>
                        <td>
                            @items.AUOTID
                        </td>
                        <td>
                            @items.UnitType1.UnitTypeName
                        </td>
                        <td>
                            @items.ModelType1.ModelName
                        </td>
                        <td>
                            @items.AssestNo
                        </td>
                        <td>
                            @items.SerialNo
                        </td>
                        <td>
                            @items.ConnectionNo
                        </td>
                        <td>
                            @items.EMEINo1
                        </td>
                        <td>
                            @items.EMEINo2
                        </td>
                        <td>
                            @items.Provider1.ProviderName
                        </td>
                        <td>
                            @items.Company1.CompanyCode
                        </td>
                        <td>
                            @items.ActualAssignee
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "ManageMobilePhones", new { id = items.AUOTID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


