@model AutomationTracker.Models.AssetList
@{
    ViewBag.Title = "ViewComputers";
    ViewBag.Menu = "ViewComputers";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

<section class="common_section">
    <div class="container">

        <div class="container" style="padding-bottom:20px;">
            <input type="button" style="float:right;" class="btn btn-primary" value="Add Computer" onclick="location.href='@Url.Action("ManageComputers", "Asset", new { id = 0 })'" />
        </div>

        <table id="example" class="display nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Unit ID</th>
                    <th>Unit Type Name</th>
                    <th>Model Name</th>
                    <th>Asset Number</th>
                    <th>Serial number</th>
                    <th>Software Version</th>
                    <th>Current User</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.computerList)
                {
                    <tr>
                        <td>
                            @items.AUOTID
                        </td>
                        <td>
                            @items.UnitType1.UnitTypeName
                        </td>
                        <td>
                            @items.ModelType1.ModelName
                        </td>
                        <td>
                            @items.AssestNo
                        </td>
                        <td>
                            @items.SerialNo
                        </td>
                        <td>
                            @items.OS
                        </td>
                        <td>
                            @items.ActualAssignee
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "ManageComputers", new { id = items.AUOTID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

@section scriptLocation{

    }


