@model AutomationTracker.Models.AssetList
@{
    ViewBag.Title = "ViewTransferHistory";
    ViewBag.Menu = "ViewTransferHistory";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}


<section class="common_section">
    <div class="container">

        <h3 style="margin-bottom:20px;">
            <label class="labelcls">Transfer History</label>
        </h3>


        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Computers & Laptops</a></li>
            <li><a data-toggle="tab" href="#menu1">Mobile Phones & Dongles</a></li>
            <li><a data-toggle="tab" href="#menu2">VOIP</a></li>
            <li><a data-toggle="tab" href="#menu3">Other</a></li>
        </ul>


        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div style="margin-top:10px;">
                    <table id="computersTable" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Unit Type Name</th>
                                <th>Model Name</th>
                                <th>Asset Number</th>
                                <th>Serial number</th>
                                <th>Dispose Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.computerList.Count > 0)
                            {
                                foreach (var items in Model.computerList)
                                {
                                    <tr>
                                        <td>
                                            @items.AUOTID
                                        </td>
                                        <td>
                                            @items.UnitType1.UnitTypeName
                                        </td>
                                        <td>
                                            @items.ModelType1.ModelName
                                        </td>
                                        <td>
                                            @items.AssestNo
                                        </td>
                                        <td>
                                            @items.SerialNo
                                        </td>
                                        <td>
                                            @items.DisposeDate
                                        </td>
                                        <td>
                                            <a href="@Url.Action("TransferHistory","Asset", new { ItemID = items.AUOTID, Category = 1 })" style="margin-left:15px;">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div id="menu1" class="tab-pane fade">
                <div style="margin-top:10px;">
                    <table id="mobilePhoneTable" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Unit Type Name</th>
                                <th>Model Name</th>
                                <th>Asset Number</th>
                                <th>Serial number</th>
                                <th>Dispose Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.phonesanddongleList.Count > 0)
                            {
                                foreach (var items in Model.phonesanddongleList)
                                {
                                    <tr>
                                        <td>
                                            @items.AUOTID
                                        </td>
                                        <td>
                                            @items.UnitType1.UnitTypeName
                                        </td>
                                        <td>
                                            @items.ModelType1.ModelName
                                        </td>
                                        <td>
                                            @items.AssestNo
                                        </td>
                                        <td>
                                            @items.SerialNo
                                        </td>
                                        <td>
                                            @items.DisposeDate
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "TransferHistory", new { ItemID = items.AUOTID, Category = 2 })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div style="margin-top:10px;">
                    <table id="voipTable" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Item ID</th>
                                <th>Unit Type Name</th>
                                <th>Model Name</th>
                                <th>Asset Number</th>
                                <th>Serial number</th>
                                <th>Dispose Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.voipList.Count > 0)
                            {
                                foreach (var items in Model.voipList)
                                {
                                    <tr>
                                        <td>
                                            @items.AUTOID
                                        </td>
                                        <td>
                                            @items.UnitType1.UnitTypeName
                                        </td>
                                        <td>
                                            @items.ModelType1.ModelName
                                        </td>
                                        <td>
                                            @items.AssestNo
                                        </td>
                                        <td>
                                            @items.SerialNo
                                        </td>
                                        <td>
                                            @items.DisposeDate
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "TransferHistory", new { ItemID = items.AUTOID, Category = 3 })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Other</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>

    </div>
</section>

@section scriptLocation{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/Assest/DisposeList.js"></script>
}

