@model AutomationTracker.Models.UserModel
@{
    ViewBag.Title = "ViewUsers";
    ViewBag.Menu = "ViewUsers";
    Layout = "~/Views/Shared/_SystemLayout.cshtml";
}

<section class="common_section">
    <div class="container">

        <div class="container" style="padding-bottom:20px;">
            <input type="button" style="float:right;" class="btn btn-primary" value="Add User" onclick="location.href='@Url.Action("ManageUsers", "Account", new { id = 0 })'" />
        </div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>PA Number</th>
                    <th>SAP number</th>
                    <th>User Name</th>
                    <th>Company</th>
                    <th>Market</th>
                    <th>NIC</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model.userList.usrList)
                {
                    <tr>
                        <td>
                            @items.UserID
                        </td>
                        <td>
                            @items.PANo
                        </td>
                        <td>
                            @items.SAPNo
                        </td>
                        <td>
                            @items.FullName
                        </td>
                        <td>
                            @items.Company1.CompanyCode
                        </td>
                        <td>
                            @items.Market1.MarketName
                        </td>
                        <td>
                            @items.NIC
                        </td>
                        <td>
                            @items.Remarks
                        </td>
                        <td>
                            @if (items.IsActive)
                            {
                                <i class="fa fa-check" style="color:lightgreen; font-size:20px; margin-left:25px;"></i>
                            }
                            else
                            {
                                <i class="fa fa-times" style="color:red; font-size:20px; margin-left:25px;"></i>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("ManageUsers","Account", new { id = items.UserID })" style="margin-left:10px;">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>

                            <a href="@Url.Action("ViewUserAssests","Account", new { id = items.UserID })" style="margin-left:10px;">
                                <i class="fa fa-exchange"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

